# .env.example
# Токен GitHub (для публикации)
GITHUB_TOKEN=***

# Telegram Bot
TELEGRAM_BOT_TOKEN=***

# TON Кошелёк
TON_WALLET=UQBLEYICSbxKZAajJspddpVYEFtvCcnp7gUpHDZpTChqqAoC

# Настройки токенов
TOKEN_PRICE_TON=1
TOKENS_PER_TON=10000

# OmniRoute
OMNIROUTE_URL=http://localhost:20128